---
---

* {
  box-sizing: border-box;
}

html, body {
  --text-color: #ddd;
  --text-color-a: #ff66b3;
  --text-color-a-h: #ff42a1;
  --bgnd-color: #222;
  margin: 0;
  background-color: var(--bgnd-color);
  font-family: Raleway;
  font-size: 17px;
  line-height: 1.8;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

a {
  color: var(--text-color-a);
  &:visited {
    color: var(--text-color-a);
  }
  &:hover {
    color: var(--text-color-a-h);
  }
}

ul {
  padding-left: 16px;
}

table, td, th {
  border: 1px solid var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0 16px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 40%;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
}

.content-container {
  flex: 1;
  max-width: 620px;
  padding: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
}
