---
---

* {
  box-sizing: border-box;
}

html,
body {
  --text-color: #ddd;
  --text-color-h: #bbb;
  --text-color-a: #ff66b3;
  --text-color-a-h: #ff42a1;
  --bgnd-color: #222;
  margin: 0;
  background-color: var(--bgnd-color);
  font-family: Raleway;
  font-size: 17px;
  line-height: 1.8;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  overflow-y: scroll;
}

a {
  color: var(--text-color-a);
  &:visited {
    color: var(--text-color-a);
  }
  &:hover {
    color: var(--text-color-a-h);
  }
}

ul {
  padding-left: 16px;
}

table,
td,
th {
  border: 1px solid var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0 16px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 40%;
  max-width: 400px;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
}

.content-container {
  flex: 1;
  max-width: 700px;
  padding: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.week-title {
  &.schedule {
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: underline;
    color: var(--text-color);
    &:hover {
      color: var(--text-color-h);
    }
    &.show {
      color: var(--text-color-a);
      &:hover {
        color: var(--text-color-a-h);
      }
    }
  }
}

.week-content-container {
  &.schedule {
    height: 16px;
    overflow: hidden;
    &.show {
      height: auto;
    }
  }

  .content-header {
    margin-bottom: 0px;
  }

  .content-list {
    margin-left: 8px;
    margin-top: 0px;
  }

  span.avoidwrap {
    text-decoration: underline;
    display:inline-block;
  }
}

.assignment-content-title {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
  color: var(--text-color);
  &:hover {
    color: var(--text-color-h);
  }
  &.show {
    color: var(--text-color-a);
    &:hover {
      color: var(--text-color-a-h);
    }
  }
}

.assignment-content-container {
  height: 8px;
  overflow: hidden;
  &.show {
    height: auto;
  }
}
