{% assign p = include.page %}

<h2 class="week-title {{ include.schedule }} {{ include.show }}">{{ p.title }} ({{ p.when }})</h2>

<div class="week-content-container {{ include.schedule }} {{ include.show }}">
  {% if p.what.size > 0 %}
    <ul>
    {% for w in p.what %}
      <li>{{ w }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.p5js.size > 0 %}
    <h3 class="content-header">p5.js:</h3>
    <ul class="content-list">
    {% for p in p.p5js %}
      <li>{{ p }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.arduino.size > 0 %}
    <h3 class="content-header">Arduino:</h3>
    <ul class="content-list">
    {% for a in p.arduino %}
      <li>{{ a }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.readings.size > 0 %}
    <h3 class="content-header">Recommended Readings:</h3>
    <ul class="content-list">
    {% for r in p.readings %}
      <li>
        {{ r.title }}:
        {% for u in r.urls %}
          <a href="{{ u }}">[{{ forloop.index }}]</a>
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if p.videos.size > 0 %}
    <h3 class="content-header">Recommended Videos:</h3>
    <ul class="content-list">
    {% for v in p.videos %}
      <li>
        {{ v.title }}: 
        {% for u in v.urls %}
          <a href="{{ u }}">[{{ forloop.index }}]</a>
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <h3 class="assignment-title">Assignment (due: {{ p.assignment.when }}):</h3>

  <h4 class="assignment-content-title">Programming:</h4>
  <div class="assignment-content-container">
    {{ p.assignment.description | markdownify }}
  </div>

  <h4 class="assignment-content-title">Read & Respond:</h4>
  <div class="assignment-content-container">
    {{ p.reading.title | markdownify }}
    {{ p.reading.intro | markdownify }}

    {% for r in p.reading.readings %}
      <div>
        {{ forloop.index }}.
        <a href="{{ r.url }}">
          {{ r.title }} by {{ r.author }}<br>
          {% if r.chapter %}
            <span class="avoidwrap">{{ r.chapter }}</span>
          {% endif %}
          {% if r.pages %}
            <span class="avoidwrap">(pdf pages {{ r.pages }})</span>
          {% endif %}
        </a>
      </div>
    {% endfor %}

    {% if p.reading.optional.size > 0 %}
      <div class="content-header optional-readings">Optional Readings:</div>
      <div>
        {% for o in p.reading.optional %}
          <div>
            {{ forloop.index }}.
            <a href="{{ o.url }}">{{ o.title }}</a>
            by {{ o.author }}
          </div>
        {% endfor %}
        </div>
    {% endif %}

    {{ p.reading.description | markdownify }}
  </div>
</div>
